<component-title-pipe
  title="Pipes no tan comunes"
  subTitle="Pipes incluidos en Angular"
/>
<div class="mt-5 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
  <component-card title="i18nSelectPipe">
    <p>Saludos {{cliente().name}}, es un placer {{cliente().gender | i18nSelect:invitationMap }} a nuestro evento.</p>
    <button class="btn btn-primary" (click)="changeClient()" >Cambiar cliente</button>
  </component-card>

  <component-card title="i18nPluralPipe">
    <p>Actualmente {{clientes().length | i18nPlural:clientesMap() }}</p>
    <button class="btn btn-primary" [disabled]="clientes().length === 0" (click)="deleteClient()" >Borrar cliente</button>
  </component-card>
</div>
